<div class="container">
  <div class="card">
    <img src="/assets/images/img.png" id="plant">
    <a href="#" [routerLink]="['/']" id="back"><img src="/assets/images/ArrowCircle.svg"></a>
    <h1>Create Account</h1>
    <div class="paragraph01">
      <p>Enter your information or continue with social media account</p>
    </div>

    <form #loginForm="ngForm"(ngSubmit)="onSubmit(loginForm)" autocomplete="off">
      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" placeholder="Your email address" ngModel autocomplete="off" [value]="''">

      <label>Mobile Number</label>
      <input type="tel" id="number" placeholder="Your mobile number">

      <label for="password">Password</label>
      <div class="eyes">
        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password" autocomplete="off" [value]="''">
        <span class="eyes-icon" (click)="visibility()">
          <img [src]="eyeIcon" alt="Toggle password visibility" class="eye-icon">
        </span>
      </div>
      <button type="submit">Create Account</button>
    </form>

    <p class="social">Or Register with Social Accounts</p>
    <div class="social-accounts">
      <p><img src="/assets/images/google.png" alt="Google" width="50" height="50"></p>
      <p><img src="/assets/images/facebook.png" alt="Facebook" width="48" height="48"></p>
      <p><img src="/assets/images/apple.png" alt="Apple" width="50" height="50"></p>
      <p><img src="/assets/images/twitter.png" alt="Twitter" width="50" height="50"></p>
    </div>

    <footer>
      <p style="font-size: 0.8rem">Already have an account? <a href="#">Login Now</a></p>
    </footer>
  </div>
</div>
